* {
    font-family: Poppins;
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body.dark {
    background: linear-gradient(to right, black, #1b1b1b);
    color: wheat;
    transition: all;
    transition-duration: 0.5;
    transition: cubic-bezier(0.175, 0.885, 0.32, 1.275);
}

body {
    height: 100vh;
    width: 100vw;
    background-color: wheat;
    color: black;
    transition: all;
    transition-duration: 0.3s;
}


header {
    height: 12%;
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-between;
    padding: 10px 20px;
    background-color: rgb(240, 191, 100);
    transition: all;
    transition-duration: 0.3s;
}

header.dark {
    background-color: rgb(255, 98, 0);
}

header h2 {
    font-size: xx-large;
    font-weight: 900;
    transition: all;
    transition-duration: 0.1s;
}

.navItems {
    display: flex;
    list-style: none;
    gap: 15px;
    font-size: small;
    font-weight: 500;
}

.navItems li:hover {
    background-color: rgb(61, 61, 61);
}

.navItems li {
    display: flex;
    align-items: center;
    padding: 10px;
    background-color: wheat;
    color: black;
    border-radius: 6%;
}

a.hover {
    cursor: pointer;
}

#mode:hover {
    cursor: pointer;
}

.navItems.dark li {
    background: linear-gradient(to right, rgb(35, 35, 35), #0f0d0d);
    color: wheat
}

.navItems a {
    color: black;
    text-decoration: none;
}

.navItems.dark a {
    color: wheat;
}


main {
    padding: 25px;
    width: 100%;
    height: 88%;
    display: flex;
    justify-content: space-around;
    align-items: center;
}

.imageContainer {
    width: 50%;
}

.imageContainer img {
    border-radius: 5%;
    width: 100%;
    height: auto;
    border: 5px solid rgb(255, 98, 0);
}

form {
    background-color: rgb(240, 191, 100);
    padding: 45px;
    border-radius: 10%;
    display: flex;
    flex-direction: column;
    gap: 15px;
    transition: all;
    transition-duration: 0.3s;
    box-shadow: 0px 10px 20px rgba(0, 0, 0, 0.3);
}

form.dark {
    background-color: rgb(67, 67, 67);
    /* box-shadow: 5px 10px 10px rgba(265, 265, 265, 0.3); */
}

form fieldset {
    padding: 10px;
    border-radius: 4%;
    font-size: larger;
}

form h3 {
    font-size: 32px;
}

fieldset input {
    padding: 5px;
    outline: none;
    font-size: large;
    background-color: inherit;
    border: none;
    color: black;
}

form.dark input {
    color: white;
}

fieldset {
    border: 2px solid white;
}

form button {
    padding: 5px;
    border-radius: 6%;
    background-color: rgb(28, 28, 28);
    color: wheat;
    font-size: larger;
    border: 2px solid wheat;
}

form.dark button {
    background-color: rgb(255, 98, 0);
}

@media (max-width:1024px) {
    main {
        flex-direction: column;
    }
    .navItems li {
        font-size:small;
        padding: 5px;
        text-align: center;
    }
    #navbar {
        display: flex;
        flex-direction: column;
        align-items: center;
        justify-content: center;
        gap: 10px;
    }
}